.header {
  padding: 1rem !important;

  .icon {
    font-size: 18px;
  }

  .btn-theme {
    cursor: pointer;
  }

  .search {
    margin-top: 6px !important;
    svg {
      color: #40a262 !important;
      font-size: 14px !important;
    }
  }
}
