.place-order {
  .product-img {
    height: 80px;
    width: 80px !important;
    object-fit: cover;
    margin-right: 14px;
  }

  .StripeCheckout {
    background: black !important;
    background-color: black !important;
    color: white !important;
    box-shadow: none !important;

    span {
      background: black !important;
      background-color: black !important;
      color: white !important;
      box-shadow: none !important;
    }
  }
}
