.place-order {
  .product-img {
    height: 80px;
    width: 80px !important;
    object-fit: cover;
    margin-right: 14px;
  }

  .StripeCheckout {
    background: #1a1a1a !important;
    background-color: #1a1a1a !important;
    border-color: #1a1a1a !important;
    color: #fff !important;
    box-shadow: none !important;

    &:hover {
      background-color: #161616 !important;
      border-color: #151515 !important;
      color: #fff !important;
    }

    span {
      background: #1a1a1a !important;
      background-color: #1a1a1a !important;
      color: #fff !important;
      box-shadow: none !important;
      font-size: 0.765625rem;
      text-transform: uppercase;
      font-weight: unset !important;
      font-family: inherit !important;

      &:hover {
        background-color: #161616 !important;
        border-color: #151515 !important;
        color: #fff !important;
      }
    }
  }
}
