.product {
  .main-img {
    height: 400px;
    width: 100% !important;
    object-fit: cover;
  }

  .detail-list {
    padding-left: 0;
    list-style: none;

    li {
      margin-bottom: 8px;
    }
  }
}
